{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Control App{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon.png' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="site-header">
        <a href="{% url 'ControlApp:home' %}"><img src="{% static 'img/logo.png' %}" /></a>
    </header>
    <main class="content">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="site-footer">
        <p>&copy; {{ year }} La Flor del Bambu. Casa de gente grande</p>
    </footer>
</body>
</html>
