{% extends 'base.html' %}

{% block content %}
  <h1>Buscar empleado</h1>
  <form action="{% url 'ControlApp:employee_days' id=employee.id %}" method="GET">
    <div class="form-group">
        <label for="employee_name">Nombre del empleado:</label>
        <select id="employee_select" class="form-select">
            {% for employee in employees %}
                <option value="{{ employee.id }}"> {{ employee.id }} {{ employee.last_name }} </option>
            {% endfor %}
        </select>
    </div>
    <div>
      <button type="submit">Buscar</button>
    </div>
  </form>
  {% comment %} <button><a href="{% url 'ControlApp:employee_days' id=employee.id %}"> Buscar </a></button> {% endcomment %}

{% endblock %}



